sources/flex-sc-han
sources/FlexSansGBVF/instance_ufos
sources/FlexSansGBVF/Flex Sans GB VF latin*.designspace
build.ninja
.ninja_log
*.backup
*.ttx

# python specific
.env
.venv
env
venv
*.pyc
__pycache__
