<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Thin_w100_h20</string>
      <string>glyphs.T_hin_w100_h20</string>
    </array>
    <array>
      <string>Thin_w30_h50</string>
      <string>glyphs.T_hin_w30_h50</string>
    </array>
    <array>
      <string>Thin_w30_h20</string>
      <string>glyphs.T_hin_w30_h20</string>
    </array>
    <array>
      <string>Thin_w100_h50_rleg100</string>
      <string>glyphs.T_hin_w100_h50_rleg100</string>
    </array>
    <array>
      <string>Thin_100_h50_rleg-100</string>
      <string>glyphs.T_hin_100_h50_rleg-100</string>
    </array>
    <array>
      <string>Thin_h0_w100</string>
      <string>glyphs.T_hin_h0_w100</string>
    </array>
    <array>
      <string>Thin_h100_w0</string>
      <string>glyphs.T_hin_h100_w0</string>
    </array>
    <array>
      <string>wdth=0</string>
      <string>glyphs.wdth=0</string>
    </array>
    <array>
      <string>wdth=0^background</string>
      <string>glyphs.wdth=0^background</string>
    </array>
    <array>
      <string>weight=360,wdth=0^background</string>
      <string>glyphs.weight=360,wdth=0^background</string>
    </array>
    <array>
      <string>weight=700,wdth=0^background</string>
      <string>glyphs.weight=700,wdth=0^background</string>
    </array>
  </array>
</plist>
